@import "~assets/scss/vars/vars";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap");

:root {
  --animate-delay: 0.2s;
}

/* INIT */
body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

/* POSITION */
.top-0 {
  top: 0;
}
.right-0 {
  right: 0;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}

/* UTILS */
.break {
  flex-basis: 100%;
  height: 0;
}

/* Class Size */
.min-w-300 {
  min-width: 300px;
}
/* Class Cursor */
.cursor-pointer {
  cursor: pointer;
}
/* Class Bg Color */
.bg-color-primary {
  background-color: $primary;
  color: #fff;
}

/* Background Color */
.bg-white-transp {
  background-color: rgba(255, 255, 255, $opacity_bg);
}
.bg-gradient-primary {
  background-image: $gradient_primary !important;
  h1 {
    color: #fff;
  }
}

.bg-gradient-secondary {
  background-image: $gradient_secondary !important;
  h1 {
    color: #fff;
  }
}

/* Buttons */
.btn-color-primary,
.btn-color-primary:hover {
  background-color: $primary;
  color: #fff;
}

/* Text*/
.text-color-primary {
  color: $primary;
}

/* Global aspect */

h1,
.h1 {
  color: $color5;
  font-weight: 800;
  text-transform: uppercase;
  font-size: clamp(1rem, 3vmin, 2rem);
}
h2,
.h2 {
  color: $color4;
  font-weight: 400;
  text-transform: uppercase;
  font-size: clamp(0.8rem, 3vmin, 1.5rem);
}
