/* Var Color */
$primary: #174069;
$secondary: #0d2762;

/* Gradient */
$gradient_primary: linear-gradient(45deg, #0a151f, $primary);
$gradient_secondary: linear-gradient(45deg, #3480cb, $secondary);

/* Opacity */
$opacity_bg: 0.9;
